/*------ GERAL ------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*LAYOUT*/
   font-size: 62.5%; 
}

body{
  font-family: 'Roboto', sans-serif;
}


main {
  display: flex;
  justify-content: center;
  background-color: #F1F1F1;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 5rem;
}

.title h1{
  font-size: 2rem;
}

.title h1:first-child{
  margin-top: 2rem;
}
.title p{
  font-size: 1.5rem;
  margin-block: 1rem;
}


/*--------------- HEADER --------------- */

header{
  height: 5rem;
  width: 100%;
  padding: 2rem;

  display: flex;
  align-items: center; 
  justify-content: space-between;
}

header a{
  color: #f55236;
  text-decoration: none;
}
header img{
  height: 2.5rem;
  color: #000;
}

/*--------------- HOME --------------- */

#home{
  background-image:url(assets/london.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 90vh;
  width: 100%; 
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home .navebar{
  height: 3.5rem;
  max-width: 95rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;  
}

#home .navebar button{
  height: 3.5rem;  
  width: 100%;

  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 0.5rem; 

  border: none;
  cursor: pointer;
}

#home .navebar button:hover{
  background-color: #f55336;
}

#home .navebar button img{
  height: 2rem;
}

#home .content{
  height: 28rem;
  max-width: 95rem;
  width: 100%;
  background-color: #fff;
}

/* ----- FLIGHT ----- */

#content-flight{
  display: none;
}

#content-flight.active{
  height: 100%; 
  width: 95rem; 
  max-width: 100%;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}

#content-flight.active h1{
  font-size: 3rem;
}

#content-flight.active .form{
  height: 15rem;
  width: 90rem;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#content-flight.active .options{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#content-flight.active .options select{
  border: none;
  background-color: transparent;
}

#content-flight.active .inputs{
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

#content-flight.active .input {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#content-flight.active .input input{
  width: 50%;
}

#content-flight.active .input img{
  width: 1.5rem;
}

#content-flight.active .data{
width: 50%;

display: flex;
align-items: center;
justify-content: center;

gap: 1rem;
padding-left: 1rem ;
}

#content-flight.active .data input{
  width: 100%;
}

#content-flight.active label{
  font-size: 1.5rem;
}

#content-flight.active input{
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.192);
}

#content-flight.active button{
  height: 40px;
  width: 40px;

  background-color: #10c437;
  border: none;
  color: #fff;
  cursor: pointer; 
}

#content-flight.active button img{
  width: 2.4rem;
}

/* ----- HOTEL  ----- */

#content-hotel{
  display: none;
}

#content-hotel.active{
  height: 100%;
  width: 95rem; 
  max-width: 100%;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}

#content-hotel.active h1{
  font-size: 3rem;
}

#content-hotel.active .form{
  height: 15rem;
  width: 90rem;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#content-hotel.active .options{
  width: 50%;
  display: flex;
  justify-content: space-around;

}

#content-hotel.active .options select{
  border: none;
  background-color: transparent;
}

#content-hotel.active .inputs{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}

#content-hotel.active .inputs #origin{
  width: 50rem;
}

#content-hotel.active .data{
display: flex;
align-items: center;
gap: 1.5rem;
}

#content-hotel.active .data input{
  width: 100%;
}

#content-hotel.active label{
  font-size: 1.5rem;
}

#content-hotel.active input{
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.192);
}

#content-hotel.active button{
  height: 40px;
  width: 40px;

  background-color: #10c437;
  border: none;
  color: #fff;
  cursor: pointer;
}

#content-hotel.active button img{
  width: 2.4rem;
}


/* ----- RENTAL ----- */

#content-rental{
  display: none;
  background-color: yellow;
}
#content-rental.active{
  display: flex;
  background-color: yellow;
}

/*MEDIA TABLET*/

/*FLIGHT*/
@media (max-width: 800px) {
  #content-flight.active .inputs{  
    flex-direction: column;
  }

  #content-flight.active .input {
    width: 100%;    
  }

  #content-flight.active .data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }

/*HOTEL*/
  #content-hotel.active .inputs{
    flex-direction: column;
  }

  #content-hotel.active .inputs #origin{
    width: 100%;
  }

  #content-hotel.active .data{
    width: 100%;
    
    }
    
    #content-hotel.active .data input{
      width: 100%;
    }
}

/* --------------- OFFERS ---------------  */
#offers .container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;  
}

#offers .container img:first-child{  
  grid-row-start: 1;
  grid-row-end: 3;
  height: 42rem;
  max-height: 100%;
  width: 1000rem;
  max-width: 100%;  
}

#offers .container img{
  height: 20rem;
  max-height: 100%;
  width: 29rem;
  max-width: 100%;
}


/*--------------- EXPLORE ---------------*/
#explore .cards{
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;   
}

#explore .card{
  height: 15rem;
  max-height: 100%;
  width: 100%;
  margin-top: 15px;
  
  border:none;
}

#explore .card img{
  height: 18rem; 
  max-height: 100%; 
  width: 100%;  
}

#explore .info{
  gap: 1rem;
  background-color: #fff;
  height: 100%;
  width: 100%;  
  padding: 1.5rem;  
  display: flex;
  flex-direction: column;
  align-items: start;
}

#explore .info h1{
  font-size: 3rem;
}
#explore .info h2{
  font-size: 1rem;
}

#explore .info p{
  font-size: 1.5rem;
}

#explore .info button{
  font-size: 2rem;
  padding: .5rem;
  border: none;  
  background-color: transparent;
  cursor: pointer;
}

/*--------------- PROMO --------------- */

#promo .container{
  background-color: #616161;
  color: #fff;

  height: 20rem;
  padding: .5rem 1.5rem ;
  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#promo input{
  height: 3.5rem;
  width: 100%;
}

#promo h1{
  font-size: 3rem;
}

#promo button{
  margin-top: 10px;
  height: 40px;
  width: 80px;
  background-color: #f55236;
  color: #fff;
  border: none;
  cursor: pointer;
}

/*--------------- CONTACT ---------------*/
#contact{
  height: 40vh;
  padding: 1.5rem;
  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 1rem;
}

#contact h1{
  font-size: 3rem;
}

#contact h2{
  font-size: 1rem;
}

#contact ul{
  list-style-type: none;
}

#contact .form input{
  display: flex;
  width: 100%;
  height: 3.5rem;
  margin-top: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.192);
}

#contact .form button{
  margin-top: 1rem;
  height: 4rem;
  width: 15rem;
  
  background-color: #000;
  color: #fff;

  border: none;
  cursor: pointer;
}
/*--------------- FOOTER ---------------*/

#footer{
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .container{
  
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#footer .container p{
  font-size: 15px;
}

#footer .icons img{
  height: 30px;
  width: 30px;
  
}

