*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}


/*========== HEADER (LOGO, SEARCH) ==========*/

.header{
  height: 50px;
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.header a{
  color: #f55236;
  text-decoration: none;
}
.header img{
  height: 25px;
  color: #000;
}

/*========== SECTION HOME ==========*/

.section{
  background-image:url(assets/london.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 80vh;
  width: 100%; 
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}


/*========== SECTION HOME (BARRA DE NAVEGAÇÃO) ==========*/

.section-choice{
  height: 280px;
  max-width: 950px;
  width: 100%;
  background-color: #fff;

  display: flex;
  align-items: center;
  flex-direction: column; 
}

.navebar{
  height: 35px;
  max-width: 950px;
  width: 100%;
  background-color: #f55236;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navebar-button{
  height: 35px;  
  width: 100%;

  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;  

  border: none;
}

.navebar-button img{  
  height: 20px;
}



/*CORRIGIR MARGENS*/
.navebar-button p{
  width: 60px;
  height: 30px;
  color: #fff;
  font-size: 15px;  
}

/*========== SECTION HOME (CONTEUDO DE PESQUISA) ==========*/

/*FLIGHT*/
.flight{
  background-color: blue;
  height: 90%;
  width: 90%;
  padding: 15px 0;  

  display: none;
  justify-content: space-around;
  flex-direction: column;
}

.flight:active{
  display: flex;
}

/*HOTEL*/

.hotel{
  background-color: green;
  height: 90%;
  width: 90%;
  padding: 15px 0;  

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.active{
  background-color: rgb(45, 0, 128);
  height: 90%;
  width: 90%;
  padding: 15px 0;  

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


/*RENTAL*/

.rental{
  background-color: yellow;
  height: 90%;
  width: 90%;
  padding: 15px 0;  

  display: none;
  justify-content: space-around;
  flex-direction: column;
}

/*========== section ==========*/

.container{
  width: 100%;
  display: flex;
  padding: 10px;

  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: #f1f1f1;
}

/*========== section ==========*/

.container-info{
  max-width: 950px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.location{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.location h1, p{
  margin-top: 10px;
}

.location img:first-child{  
  grid-row-start: 1;
  grid-row-end: 3;
  height: 400px;
  max-height: 100%;
  width: 470px;
  max-width: 100%;
}

.location img{
  height: 195px;
  max-height: 100%;
  width: 230px;
  max-width: 100%;
}


/*========== locais ==========*/
.title{
  margin-top: 30px;
}

.title p{
  margin-top: 10px;
}

.cards{
  height: 100%;
  margin-top: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  
}

.card{
  height: 370px;
  max-height: 100%;
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
  border:none;
}

.card img{
  height: 180px; 
  max-height: 100%; 
  width: 100%;  
}

.info{
  width: 100%;  
  padding: 15px;  
  display: flex;
  flex-direction: column;
  align-items: start;
}

.info h1{
  font-size: 25px;
}

.info p{
  font: 20px;
}

.info button{
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  border: none;  
  background-color: transparent;
}

/*========== ofertas ==========*/

.promo{
  background-color: #616161;
  color: #fff;

  height: 200px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-info{   
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form input{
  height: 35px;
  width: 100%;
}

.promo-info h1{
  font-size: 39px;
}

.promo-info button{
  margin-top: 10px;
  height: 40px;
  width: 80px;
  background-color: #f55236;
  color: #fff;
  border: none;
}

/*========== contact ==========*/

.contact{
  height: 45vh;
  padding: 10px;
  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.contact ul{
  list-style-type: none;
}

.contact .form input{
  margin-top: 5px;
}

.contact button{
  height: 40px;
  width: 120px;
  
  background-color: #000;
  color: #fff;

  border: none;
}

/*========== footer ==========*/

footer{
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer{
  
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.footer p{
  font-size: 15px;
}

.icons img{
  height: 30px;
  width: 30px;
  
}

/*========== LAYOUT TABLET ==========*/
@media (max-width: 600px){
  .info h1{
    font-size: 20px;
  }

  .info p{
    font: 15px;
  }
}
/*========== LAYOUT MOBILE ==========*/



@media (max-width: 500px){
  .section{
   background-image: none;
   height: 36vh; 
   padding: 0;
  }

  .location{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .location img:first-child{  
    margin-top: 10px;    
    height: 100%;
    width: 100%;
  }
  
  .location img{
    margin-top: 10px;    
    height: 100%;
    width: 100%;
  }

  /*===================*/

  .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card{
    height: 370px;
    max-height: 100%;
    width: 100%;
    margin-top: 15px;
    background-color: #fff;
    border: none;
  }
    
  /*===================*/

  .promo{
    height: 250px; 
  }

} 

