*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}


/*========== HEADER (LOGO, SEARCH) ==========*/

.header{
  height: 50px;
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.header h1{
  color: #f55236;
}
.header img{
  height: 25px;
  color: #000;
}

/*========== SECTION HOME ==========*/

.section{
  background-image:url(assets/london.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 80vh;
  width: 100%; 
  
  display: flex;
  align-items: center;
  justify-content: center;
}


/*========== SECTION HOME (BARRA DE NAVEGAÇÃO) ==========*/

.section-nav-travel{
  height: 280px;
  max-width: 950px;
  width: 100%;
  background-color: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.section-choices{
  height: 35px;
  width: 100%;

  display: flex;
  align-items: center;
}

.btn{
  height: 100%;
  width: 100%;  
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn img{  
  height: 20px;
}

/*CORRIGIR MARGENS*/
.btn p{
  height: 30px;
  color: #fff;
  font-size: 15px;
  margin-left: 5px;
}

/*========== SECTION HOME (CONTEUDO DE PESQUISA) ==========*/

.travel{
  height: 90%;
  width: 90%;
  padding: 15px 0;
  

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.travel-info{
  width: 100%;
  display: flex;
}

.input-info {  
  width: 100%;
}

.input-info input{
  height: 40px;
  width: 95%;
}
.travel button{
  height: 40px;
  width: 25%;
  border: none;
  background-color: #616161;
  color: #fff;
  font-size: 17px;

}

/*========== section ==========*/

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
}

/*========== section ==========*/

.container-info{
  max-width: 950px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.location{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  
  
}

.location img:first-child{  
  grid-row-start: 1;
  grid-row-end: 3;
  height: 400px;
  width: 470px;
}

.location h1, p{
  margin-top: 10px;
}

.location img{
  margin-top: 10px;
  height: 195px;
  width: 230px;
}


/*========== locais ==========*/
.title{
  margin-top: 30px;
}

.title p{
  margin-top: 10px;
}

.cards{
  max-width: 100%;
  margin-top: 15px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  
}

.card{  
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
}

.card img{
  height: 180px;
  width: 100%;
}

.info{
  height: 200px;
  width: 350px;
  padding: 20px;

  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.info button{
  padding: 15px;
  border: none;  
  background-color: transparent;
}

/*========== ofertas ==========*/

.promo{
  background-color: #616161;
  color: #fff;

  height: 200px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-info{   
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form input{
  height: 35px;
  width: 100%;
}

.promo-info h1{
  font-size: 39px;
}

.promo-info button{
  margin-top: 10px;
  height: 40px;
  width: 80px;
  background-color: #f55236;
  color: #fff;
  border: none;
}

/*========== contact ==========*/

.contact{
  height: 45vh;
  padding: 10px;
  
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.contact ul{
  list-style-type: none;
}

.contact .form input{
  margin-top: 5px;
}

.contact button{
  height: 40px;
  width: 120px;
  
  background-color: #000;
  color: #fff;

  border: none;
}

/*========== footer ==========*/

footer{
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer{
  
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.footer p{
  font-size: 15px;
}

.icons img{
  height: 30px;
  width: 30px;
  
}

